<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SampleDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SampleDesktop.Properties.Settings>
            <setting name="DefaultConnection" serializeAs="String">
                <value>Host=localhost;Port=5433;User Id=postgres;Password=password;Database=SampleDesktop</value>
            </setting>
        </SampleDesktop.Properties.Settings>
    </applicationSettings>
</configuration>